<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div class="wrapper">
    <div>
      <img id="video">
    </div>
    <div>
      <h2 class="stat">Total People: </h2>
      <h3 class="stat">- Mask weared: </h3>
      <h3 class="stat">- Mask off: </h3>
      <h3 class="stat">- Mask incorrect: </h3>
      <h2 class="stat">Conjestion: </h2>
      <h2 class="stat">Risk: </h2>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:3000');
    socket.on('msg display', (image) => {
      console.log(image.img);
      var base64Img = btoa(String.fromCharCode.apply(null, new Uint8Array(image.img)));
      const imageElm = document.getElementById('video');
      imageElm.src = `data:image/png;base64, ${base64Img}`;
      const statElms = document.getElementsByClassName("stat")
      statElms[0].innerHTML = "Total People: " + image.total_people;
      statElms[1].innerHTML = "- Mask weared: " + image.mask_weared;
      statElms[2].innerHTML = "- Mask off: " + image.mask_off;
      statElms[3].innerHTML = "- Mask incorrect: " + image.mask_incorrect;
      statElms[4].innerHTML = "Conjestion: " + image.conjestion;
      statElms[5].innerHTML = "Risk: " + image.risk;
    });
  </script>
</body>

</html>