body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 50px;
  margin: 50px;
}

#video {
  width: 100%;
}

.stat {
  margin-top: 10px;
}